.footCont{
    background-color: black;
    padding-top: 5%;
    &__contImg{
        img{
            width: 100%;
        }     
    }
    &__box3{
        img{
          width: 50%;
          margin-left: 10%;
        }     
    }
    &__contInfo{
        color: white;
    }
    &__icons{
        &__fImg,&__iImg,&__linkImg{
            Img{
                width: 30%;
            }
        }
    }
    &__CopyRight{
        h6{
            text-align: center;
            color: white;
            margin: auto;
            margin-top: 1%;
            margin-bottom: 2%;
        }     
    }
}
@media only screen and (max-width: 500px){
    .footCont{
        &__contInfo{
            text-align: center;
        }
        &__box3{
            img{
              width: 50%;
              margin-left: 25%;
            }     
        }
        &__icons{
            &__fImg,&__iImg,&__linkImg{
                width: 30%;
                margin-left: 5px;
               
                Img{
                    width: 50%;
                }
            }
        }
        &__CopyRight{
            h6{
                font-size: 12px;
                margin: auto;
                margin-top: 4%;
                margin-bottom: 4%;
            }     
        }
    }  
}